html {
  box-sizing: border-box;
  display: inline-block;
  background-color: #eee9de;
  line-height: 1.5rem;
  font-family: Lato, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  background-color: #eee9de;
  margin-left: 1.5rem;
}

h2 {
  display: inline-block;
  color: #333;
  font-family: lato, sans-serif;
  margin: 0;
}

.pyramid img {
  display: inline-block;
  max-width: 50%;
  padding: 1em, 2em, .4em, .5em;
}

.pyramid nav {
  font-size: 1em;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}

.pyramid li {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.pyramid a {
  margin-bottom: 1,5rem;
  display: inline-block;
  padding: .75em;
  border-radius: 10px;
  font-family: sans-serif;
  border-style: solid;
  color: #333;
  border-color: #333;
  background-color: #eee9de;
  outline-offset: 2px;
  list-style-type: none;
  text-decoration: none;
}

.pyramid a:hover {
  background-color: #666;
  color: #eee9de;
}
